body {
    top: 0;
    margin: 0;
    width: auto;
    /* min-height: 95vh; */
    /* font-family: 'Fira Code', monospace; */
    font-family: 'Cormorant', monospace;
    /* display: flex;
    flex-direction: column; */
    background-color: #fbfbff
}
select {
    border-radius: 5px;
}
#section {
    display: grid;
    margin: 1rem;
    grid-template-columns: 1fr 3fr;

}
#title {
    font-size:3.5rem;
    text-align: center;  
    /* font-family: 'Cormorant', roboto; */
    
}
.section-2 {
    border: 2px solid black;
    border-radius: 10px;
    background-color: azure;
}
.section-3 {
    border: 3px solid green;
    /* display:none; */
    /* margin: 1rem; */
    height: 90px;
    width: 230px;
    border-radius: 10px;
    background-color: #F56416;
    color: white;
    font-weight: bolder;
    /* padding: 20px; */
    text-align: center;
    margin:0 auto;
}
.section-3 .tc {
    color: white;
    /* font-size: 1.4rem; */
    font-weight: bolder;
}
footer {
    bottom: 10px !important;
    margin-top: auto;
    text-align: center;
    position: relative;
    font-size: 20px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #FF5252;
}

#menu, #random, #start {
    margin-right: 10px;
    cursor: pointer;
}


.center {
    margin: 0 auto;
    border: 2px solid black;
    width:900px;
    height: 450px; 
    max-width: 900px;
    /* max-height: px; */
    border-radius: 10px;
}

#box {
    height: 450px;
}

.array {
    display: flex;
        align-items: flex-start;
    min-height: 80vh;
    height: 40vh;
    /* padding: 1rem; */
    flex-direction: row;
}

.cell {
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    align-items: flex-start;
    flex: 0.5;
    width: 0.000001%;
    margin: 1px;
    background-color: #D6D6D6;
    resize: horizontal;
    position: relative;
    transition: all .4s ease-in;
}

.cell.done {
    /* border: 1px solid black; */
    background-color: #0CCA4A;
    border-color: #0CCA4A;
    color: white;
    transition: all .4s ease-out;
}

.cell.visited {
    border-color: #6184D8;
    border: 1px solid black;
    background-color: #6184D8;
    color: white;
    transition: .5s;
}

.cell.current {
    border: 1px solid black;
    border-color: #50C5B7;
    background-color: #50C5B7;
    color: white;
    transition: all .4s ease-out;
}

.cell.min {
    background-color: #FF1493;
    /* border: 1px solid black; */
    border-color: #FF1493;
    color: white;
    transition: all .4s ease-out;
}
.icon i {
    border-radius: 5px;
}
.navbar {
    /* top: 0;
    left: 0; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 3rem 1rem 1rem;
    font-size: 16px;
    min-height: 60px;
    overflow: hidden;
    text-align: center;
    background-color: #F3A712;
    /* background-color: #E36397; */
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.navbar .options {
    text-align: center;
}

.navbar a {
    outline: none;
    cursor: pointer;
    color: white;
    /* font-weight: bold; */
    padding: 20px 20px;
    text-decoration: none;
    font-size: 2rem;
    font-weight:bolder;
}

.navbar #menu {
    margin-top: 15px;
    width: 150px;
    height: 25px;
    outline: none;
}

.navbar > a:hover {
    color: black;
}

.navbar > .icon {
    display: none;
}

#nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}
#nav .links {
    display: flex;
    justify-content: space-evenly;
}
#nav .links .sm {
    height: 35px;
    width: 35px;
    margin: 0 10px;
}

#nav .me {
    height:100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
#divyatej {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
#divyatej p {
    /* font-size:2rem  */
    font-weight: bold;
}